@model StockTrade

@{
    ViewBag.Title = "Trading";
    ViewBag.CurrentUrl = "~/Trade/Index";
}


<form method="post">
    <div class="box trading-panel">

        <div class="flex trading-panel-flex">
            <div id="stock-price-panel">

                <div class="stock">
                    <h1 class="stock-title">@Model.StockName (@Model.StockSymbol)</h1>
                    <h2 class="stock-price"><small class="text-grey">$</small> <span class="price">@Model.Price.ToString("N")</span></h2>
                </div>

                <div class="date"></div>
            </div>


        </div>
    </div>


    <input type="hidden" name="StockSymbol" id="StockSymbol" value="@Model.StockSymbol" />
    <input type="hidden" id="FinnhubToken" value="@ViewBag.FinnhubToken" />



@*     <!-- Hidden form to send existing model data -->
    <form method="post" action="/BuyOrder/Create">
        <!-- Hidden Stock Symbol -->
        <input type="hidden" name="StockSymbol" value="@Model.StockSymbol" />

        <!-- Hidden Stock Name -->
        <input type="hidden" name="StockName" value="@Model.StockName" />

        <!-- Hidden Date and Time of Order -->
        <input type="hidden" name="DateAndTimeOfOrder" value="@Model.DateAndTimeOfOrder.ToString("yyyy-MM-ddTHH:mm")" />

        <!-- Hidden Quantity -->
        <input type="hidden" name="Quantity" value="@Model.Quantity" />

        <!-- Hidden Price -->
        <input type="hidden" name="Price" value="@Model.Price" />

        <!-- Submit Button -->
        <button type="submit">Place Order</button>
    </form> *@

</form>


@section Scripts {
    @* import the FinnhubScript.js file to update the price *@
    <script src="~/Scripts/FinnhubScript.js">
    </script>
}